@use "../../common/style/colors" as *;
@import "../../common/style/template";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1170px;
  margin: auto;
  margin-top: 2.5rem;
  padding: 0 2.7rem 0 2.5rem;

  .sign-link {
    @extend %capitalize;

    border: 1px solid $text-color;
    border-radius: 4px;
    padding: .5rem .8rem;

    color: inherit;

    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      background-color: #69bcf7;
    }
  }
}
